{% extends "layout.html" %}
{% block title %}Standings | CTC Football Pool{% endblock %}
{% block content %}
<h1>Standings</h1>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th class="text-center">#</th>
			<th>Name</th>
			<th>Points</th>
		</tr>
	</thead>
	<tbody>
		{% for entrant in entrants %}
		<tr>
            <td class="text-center">{{loop.index}}
			<td><a href="/entrant/{{entrant.id}}">{{entrant.name}}</a></td>
			<td>{{entrant.points}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
